body {
    background-color: rgb(231, 199, 199);
}
p{color: rgb(0, 0, 0)
    ;}
    .ramega {
        font-style: initial;
        color: red;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: right;
    }
    h3 {
        text-align: left;
    }